<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title boxbox11
        link(rel="stylesheet", href="/css/styles.css")
    body
        .box
            .box__col1
            .box__col2
                .box__col2__sec1
                .box__col2__sec2